#map {
    height: 70%;
    width: 70%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
  }
  .header{
    margin: 10px;
}

.located {
    width: 70%;
  }
  #map, .astronauts,.time, .located{
    float: left;
    padding: 2px;
    margin: 5px;
    border: 0.5px solid;
  }

  .astronaut-name{
    padding: 2px;
    border: 0.5px solid;
  }
  
  .astronaut-name i{
    vertical-align: middle;
    font-size: 3rem;
  }


